@define-color primary-foregroud #3182ce;
@define-color muted-background #6b7280;
@define-color primary-background #ffffff;

.day-container {
  background-color: @muted-background;
  padding: 20px;
}

.day-button {
  background-color: @primary-background;
  color: @primary-foregroud;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
}
