@define-color primary-foregroud #3182ce;
@define-color primary-background #ffffff;
@define-color text_color #ffffff;

.day-container {
  background-color: #2d2d2d;
  padding: 20px;
}

.day-button {
  background-color: @primary-background;
  color: @primary-foregroud;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
}
